/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* [SLIDER] */
#slider,
#slider .slide {
    width: 500px;
    height: 250px;
}

#slider {
    overflow: hidden;
    margin: 0 auto;
    font-size: 1.2em;
    border: 1px solid var(--accent-color);
    background-color: #fcfcfc;
}

#slider .container {
    position: relative;
    width: 9000px;
    /* Assign an insanely large width */
    top: 0;
    right: 0;
    animation: slide-animation 25s infinite;
}

#slider .slide {
    position: relative;
    float: left;
    box-sizing: border-box;
    padding: 10px 20px;
}

/* [ANIMATION] */
@keyframes slide-animation {
    0% {
        opacity: 0;
        right: 0;
    }

    11% {
        opacity: 1;
        right: 0;
    }

    22% {
        right: 100%;
    }

    33% {
        right: 100%;
    }

    44% {
        right: 200%;
    }

    55% {
        right: 200%;
    }

    66% {
        right: 300%;
    }

    77% {
        right: 300%;
    }

    88% {
        opacity: 1;
        right: 400%;
    }

    100% {
        opacity: 0;
        right: 400%;
    }
}



h1 {
    text-align: center;
}

.slider-title {
    font-size: 25px;
    line-height: 1.33;
    margin-bottom: 15px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

}

.slider-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    padding-left: 15px;
    padding-right: 15px;

}


/* -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
}

:root {
    --main-text-color: #212121;
    --second-text-color: #757575;

    --accent-color: #752eef;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.flex {
    display: flex;
}



.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.current {
    color: var(--accent-color);
}

footer {
    background-color: var(--header-background-color);
}

.focus:focus {
    color: var(--accent-color);
}

.hover:hover {
    color: var(--accent-color);
}

address {
    font-style: normal;
    margin-top: 20px;
}

.current-btn {
    color: var(--first-button-color);
    background-color: var(--accent-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* ---------------------------------------HEADER------------------------------- */
.header {
    border: 1px solid #ECECEC;

}

.header-list {
    display: flex;
    gap: 40px;

}

.header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: var(--main-text-color);
}

.header-link-current {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    color: var(--accent-color);

}

.header-item {}

.header__container {
    justify-content: space-between;
    text-align: center;
    display: flex;
}

.header-logo {
    padding: 24px 0;
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 70px;
    color: var(--accent-color);
}

.header-studio {
    color: var(--main-text-color);
}

/* ------------------------------------------------------------------HERO-------------------------------------------------------------------------- */
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 200px;
    padding-top: 200px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #212121;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: white
}

.hero-text {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color: rgb(209, 207, 207)
}



/* --------------------------------------------------------------------------------------------------- */
.about {
    font-family: arial;
    margin: 50px;
}

.about-title {
    margin-bottom: 25px;
}

/* ------------------------------------------------------------------------------------------------------------ */
.about-second-list {
    margin-left: -30px;
}

.about-second {
    padding-bottom: 50px;
}

.about-second-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-bottom: 50px;
}

.about-second-item {
    margin-left: 30px;
    position: relative;
}

.about-top-text {
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    height: 23.8%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* --------------------------------------------------------------FOOTER---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
footer {
    background-color: rgba(202, 202, 202, 0.8);
}

.footer-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    margin-bottom: 5px;


}